@import url(./navbar.css);
@import url(./welcome.css);
@import url(./footer.css);
@import url(./responsive.css);

:root {
  --main-yellow: #ebb811;
  --main-grey: #afafaf;
  --main-dark: #1f1f1f;
  --nav-height: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.about-section {
  display: flex;
  padding: 2.5rem 0;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 100vh;
}
.message {
  font-size: 5rem;
  text-align: center;
  padding: 0 2rem;
}

.tittle-primary {
  font-size: 3rem;
  font-weight: 700;
  color: var(--main-yellow);
}
.tittle-secondary {
  font-size: 2.5rem;
  padding: 0;
}

.img-profile {
  width: 15rem;
  border-radius: 50%;
  padding: 1rem 0;
  margin-right: 5rem;
  transform: scaleX(-1);
}
